 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 821px;
}

.u-section-1 .u-group-1 {
  width: 300px;
  background-image: none;
  min-height: 224px;
  margin: 19px 20px 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 7px 10px 4px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 0 auto 0 10px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  text-align: left;
  margin: 10px auto 0 10px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  margin: 14px auto 0;
  padding: 0 90px;
}

.u-section-1 .u-text-3 {
  line-height: 1.4;
  margin: -223px 909px 0 20px;
}

.u-section-1 .u-shape-1 {
  width: 543px;
  height: 51px;
  background-image: none;
  margin: -448px auto 0 231px;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  text-align: left;
  font-size: 1rem;
  margin: -38px auto 0 251px;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  text-align: left;
  margin: -25px auto 0 393px;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  text-align: left;
  margin: -25px 513px 0 auto;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  text-align: left;
  font-size: 0.75rem;
  margin: -22px 741px 0 351px;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  text-align: left;
  font-size: 0.75rem;
  margin: -19px 603px 0 489px;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  text-align: left;
  font-size: 0.75rem;
  margin: -19px 465px 0 627px;
}

.u-section-1 .u-text-10 {
  font-weight: 700;
  text-align: left;
  margin: -22px 457px 0 auto;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  margin: -24px 389px 0 auto;
  padding: 0 9px;
}

.u-section-1 .u-group-2 {
  width: 543px;
  background-image: none;
  min-height: 269px;
  margin: 32px auto 0 231px;
}

.u-section-1 .u-container-layout-2 {
  padding: 29px 30px;
}

.u-section-1 .u-image-1 {
  width: 50px;
  height: 50px;
  margin: 2px auto 0 0;
}

.u-section-1 .u-text-11 {
  font-weight: 700;
  text-align: left;
  margin: -50px auto 0 60px;
}

.u-section-1 .u-text-12 {
  font-weight: 700;
  text-align: left;
  font-size: 0.875rem;
  margin: -23px 124px 0 auto;
}

.u-section-1 .u-text-13 {
  text-align: left;
  font-size: 0.875rem;
  margin: -22px auto 0;
}

.u-section-1 .u-text-14 {
  text-align: left;
  font-size: 0.875rem;
  font-weight: normal;
  margin: 8px 10px 0 60px;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  margin: -102px auto 0 11px;
  padding: 0 9px;
}

.u-section-1 .u-text-15 {
  text-align: left;
  font-size: 0.875rem;
  margin: 89px 0 0 60px;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-group-3 {
  width: 300px;
  background-image: none;
  min-height: 94px;
  margin: -97px 18px 0 auto;
}

.u-section-1 .u-container-layout-3 {
  padding-left: 10px;
  padding-right: 10px;
}

.u-section-1 .u-text-16 {
  font-weight: 700;
  margin: 14px auto 0;
}

.u-section-1 .u-btn-5 {
  border-style: none;
  font-weight: 700;
  margin: 12px auto 0;
  padding: 0 90px;
}

.u-section-1 .u-group-4 {
  width: 543px;
  background-image: none;
  min-height: 217px;
  margin: 23px auto 0 231px;
}

.u-section-1 .u-container-layout-4 {
  padding: 29px 30px 27px;
}

.u-section-1 .u-image-2 {
  width: 50px;
  height: 50px;
  margin: 2px auto 0 0;
}

.u-section-1 .u-text-17 {
  font-weight: 700;
  text-align: left;
  margin: -50px auto 0 60px;
}

.u-section-1 .u-text-18 {
  font-weight: 700;
  text-align: left;
  font-size: 0.875rem;
  margin: -23px 163px 0 auto;
}

.u-section-1 .u-text-19 {
  text-align: left;
  font-size: 0.875rem;
  margin: -22px auto 0 143px;
}

.u-section-1 .u-text-20 {
  text-align: left;
  font-size: 0.875rem;
  font-weight: normal;
  margin: 8px 10px 0 60px;
}

.u-section-1 .u-btn-6 {
  border-style: none;
  font-weight: 700;
  margin: -58px auto 0 11px;
  padding: 0 9px;
}

.u-section-1 .u-text-21 {
  text-align: left;
  font-size: 0.875rem;
  margin: 48px 0 0 60px;
}

.u-section-1 .u-btn-7 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-position-1 {
  min-height: 24px;
  margin: 47px 214px 60px 829px;
}

.u-section-1 .u-text-22 {
  font-weight: normal;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-3 {
    margin-right: 729px;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-left: 324px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 423px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 641px;
    margin-left: 251px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 503px;
    margin-left: 389px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 365px;
    margin-left: 527px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 377px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 189px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 7px;
    padding-bottom: 4px;
  }

  .u-section-1 .u-position-1 {
    height: auto;
    margin-right: 114px;
    margin-left: 729px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-3 {
    margin-right: 509px;
  }

  .u-section-1 .u-shape-1 {
    margin-left: 177px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 192px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 248px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 324px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 531px;
    margin-left: 141px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 393px;
    margin-left: 279px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 255px;
    margin-left: 417px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 289px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-1 .u-group-2 {
    margin-left: 177px;
  }

  .u-section-1 .u-group-4 {
    margin-left: 177px;
  }

  .u-section-1 .u-position-1 {
    margin-right: 4px;
    margin-left: 619px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-3 {
    margin-right: 329px;
  }

  .u-section-1 .u-shape-1 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 144px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 186px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 243px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 441px;
    margin-left: 51px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 303px;
    margin-left: 189px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 165px;
    margin-left: 327px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 217px;
  }

  .u-section-1 .u-group-2 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-4 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-position-1 {
    margin-right: 0;
    margin-left: 443px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-3 {
    margin-right: 129px;
  }

  .u-section-1 .u-shape-1 {
    width: 340px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 91px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 117px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 153px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 292px;
    margin-left: 0;
  }

  .u-section-1 .u-text-8 {
    margin-right: 203px;
    margin-left: 89px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 65px;
    margin-left: 227px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 137px;
  }

  .u-section-1 .u-group-2 {
    width: 340px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 76px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-1 .u-text-15 {
    margin-left: 0;
  }

  .u-section-1 .u-group-4 {
    width: 340px;
  }

  .u-section-1 .u-text-18 {
    margin-right: 100px;
  }

  .u-section-1 .u-text-19 {
    margin-left: 88px;
  }

  .u-section-1 .u-text-20 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 0;
  }

  .u-section-1 .u-text-21 {
    margin-left: 0;
  }

  .u-section-1 .u-position-1 {
    margin-left: 243px;
  }
}