 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1045px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 30px auto 0 0;
}

.u-section-1 .u-image-1 {
  width: 375px;
  height: 211px;
  margin: 30px 0 0 auto;
}

.u-section-1 .u-group-1 {
  width: 56px;
  min-height: 32px;
  height: auto;
  background-image: none;
  margin: -206px 311px 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 4px auto 0;
}

.u-section-1 .u-image-2 {
  width: 375px;
  height: 211px;
  margin: -37px auto 0 0;
}

.u-section-1 .u-group-2 {
  width: 56px;
  min-height: 32px;
  height: auto;
  background-image: none;
  margin: -206px auto 0 8px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: 4px auto 0;
}

.u-section-1 .u-image-3 {
  width: 375px;
  height: 211px;
  margin: -37px auto 0;
}

.u-section-1 .u-group-3 {
  width: 56px;
  min-height: 32px;
  height: auto;
  background-image: none;
  margin: -206px auto 0 391px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  font-size: 2.25rem;
  text-align: start;
  margin: 204px auto 0 0;
}

.u-section-1 .u-image-4 {
  width: 375px;
  height: 211px;
  margin: 29px auto 0;
}

.u-section-1 .u-group-4 {
  width: 56px;
  min-height: 32px;
  height: auto;
  background-image: none;
  margin: -205px auto 0 391px;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-image-5 {
  width: 375px;
  height: 211px;
  margin: -38px 0 0 auto;
}

.u-section-1 .u-group-5 {
  width: 56px;
  min-height: 32px;
  height: auto;
  background-image: none;
  margin: -205px 311px 0 auto;
}

.u-section-1 .u-container-layout-5 {
  padding: 0;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-image-6 {
  width: 375px;
  height: 211px;
  margin: -37px auto 0 0;
}

.u-section-1 .u-group-6 {
  width: 56px;
  min-height: 32px;
  height: auto;
  background-image: none;
  margin: -206px auto 0 8px;
}

.u-section-1 .u-container-layout-6 {
  padding: 0;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  font-size: 2.25rem;
  text-align: start;
  margin: 204px auto 0 0;
}

.u-section-1 .u-image-7 {
  width: 375px;
  height: 211px;
  margin: 30px auto 0;
}

.u-section-1 .u-image-8 {
  width: 375px;
  height: 211px;
  margin: -211px auto 0 0;
}

.u-section-1 .u-group-7 {
  width: 56px;
  min-height: 32px;
  height: auto;
  background-image: none;
  margin: -206px auto 0 8px;
}

.u-section-1 .u-container-layout-7 {
  padding: 0;
}

.u-section-1 .u-text-10 {
  font-weight: 700;
  margin: 4px -18px 0 17px;
}

.u-section-1 .u-image-9 {
  width: 375px;
  height: 211px;
  margin: -37px 0 0 auto;
}

.u-section-1 .u-group-8 {
  width: 56px;
  min-height: 32px;
  height: auto;
  background-image: none;
  margin: -206px auto 0 391px;
}

.u-section-1 .u-container-layout-8 {
  padding: 0;
}

.u-section-1 .u-text-11 {
  font-weight: 700;
  margin: 4px auto 0;
}

.u-section-1 .u-group-9 {
  width: 56px;
  min-height: 32px;
  height: auto;
  background-image: none;
  margin: -32px 311px 60px auto;
}

.u-section-1 .u-container-layout-9 {
  padding: 0;
}

.u-section-1 .u-text-12 {
  font-weight: 700;
  margin: 4px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 30px;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 30px;
  }

  .u-section-1 .u-group-3 {
    height: auto;
  }

  .u-section-1 .u-container-layout-3 {
    padding: 30px;
  }

  .u-section-1 .u-group-4 {
    height: auto;
  }

  .u-section-1 .u-group-5 {
    height: auto;
  }

  .u-section-1 .u-group-6 {
    height: auto;
  }

  .u-section-1 .u-container-layout-6 {
    padding: 30px;
  }

  .u-section-1 .u-group-7 {
    height: auto;
  }

  .u-section-1 .u-container-layout-7 {
    padding: 30px;
  }

  .u-section-1 .u-group-8 {
    height: auto;
  }

  .u-section-1 .u-group-9 {
    height: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 865px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 191px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -186px;
    margin-right: 284px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 191px;
  }

  .u-section-1 .u-group-2 {
    margin-top: -186px;
  }

  .u-section-1 .u-image-3 {
    width: 340px;
    height: 191px;
  }

  .u-section-1 .u-group-3 {
    margin-top: -186px;
    margin-left: 284px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-image-4 {
    width: 340px;
    height: 191px;
  }

  .u-section-1 .u-group-4 {
    margin-top: -185px;
    margin-left: 284px;
  }

  .u-section-1 .u-image-5 {
    width: 340px;
    height: 191px;
  }

  .u-section-1 .u-group-5 {
    margin-top: -185px;
    margin-right: 284px;
  }

  .u-section-1 .u-image-6 {
    width: 340px;
    height: 191px;
  }

  .u-section-1 .u-group-6 {
    margin-top: -186px;
  }

  .u-section-1 .u-text-9 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-image-7 {
    width: 340px;
    height: 191px;
  }

  .u-section-1 .u-image-8 {
    width: 340px;
    height: 191px;
    margin-top: -191px;
  }

  .u-section-1 .u-group-7 {
    margin-top: -186px;
  }

  .u-section-1 .u-image-9 {
    width: 340px;
    height: 191px;
  }

  .u-section-1 .u-group-8 {
    margin-top: -186px;
    margin-left: 284px;
  }

  .u-section-1 .u-group-9 {
    margin-right: 284px;
  }
}